<div class="container text-center p-5">
    <div class="spinner-border" role="status" *ngIf='estacarregando'>
        <span class="sr-only">Loading...</span> 
    </div>

    <div *ngIf="erroNoCarregamento">
        <h2>Deu Erro :(</h2>
        <button (click)='carregarContatos()'> Tentar novamente </button>
    </div>

    <div *ngIf="!estacarregando && !erroNoCarregamento">
        <table class="table table-hover">
            <tr>
                <th> ID </th>
                <th> Nome </th>
                <th> Ações </th>
            </tr>

            <tr *ngFor="let contato of contatos">
                <td> {{contato.id}} </td>
                <td> {{contato.nome}} </td>
                <td><button class="btn btn-primary m-1" (click)='irPraDetalhes(contato.id)'> Ver Detalhes </button></td>
                <td><button class="btn btn-danger m-1" (click)='deletarContato(contato.id)'> Deletar Contato </button></td>
            </tr>
        </table>
    </div>

</div>
