.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

// Estilo quando usa as classes direto do Angular

// .ng-invalid.ng-touched{
//     border-color: red;
// }

