<app-header 

 [title]="title"

></app-header>


<router-outlet></router-outlet>

<!-- <app-exer-pipes></app-exer-pipes> -->

<!-- <app-exer-ngclass></app-exer-ngclass> -->

<!-- <app-exer-diretivas></app-exer-diretivas> -->


<!-- <app-exer-contador

[(contador)]="Conta"



></app-exer-contador>

<app-exer-data-binding 

[palavra]="exemplo"
(clicado)="eventoRecebido($event)"

></app-exer-data-binding> -->

<app-footer></app-footer>



<!-- (contando)="contaRecebida($event)" -->

<!-- *ngIf="showHeader" -->